@import "~common/Layout.scss";

$card-max-width-xs: 300px;
$card-max-width-sm: 500px;
$card-max-width-md: 700px;
$card-max-width-lg: 450px;

.card {
  padding: 0.5rem;

  .card-content {
    position: relative;
  }

  .hover-content {
    opacity: 0;
    transition: all 1s ease;

    &:hover {
      opacity: 1;
    }
  }

  .mask {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(12, 12, 12, .7);
    top: 0;
    transition: all 1s ease;
  }

  .description {
    color: white;
    padding: 2rem;
    position: absolute;
    top: 0;
  }

  .card-button-container {
    position: absolute;
    width: 100%;
    bottom: 20%;
    text-align: center;
  }

  img, .card-content {
    max-width: $card-max-width-xs;
  }

  img {
    min-height: $card-max-width-xs;
  }
}

@include media-breakpoint-up(sm) {
  .card {
    img, .card-content {
      max-width: $card-max-width-sm;
    }

    img {
      min-height: $card-max-width-sm;
    }
  }
}

@include media-breakpoint-up(md) {
  .card {
    img, .card-content {
      max-width: $card-max-width-md;
    }

    img {
      min-height: $card-max-width-md;
    }
  }
}

@include media-breakpoint-up(lg) {
  .card {
    img, .card-content {
      max-width: $card-max-width-lg;
    }

    img {
      min-height: $card-max-width-lg;
    }
  }
}
