@import "~common/Layout.scss";

.card {
  padding: 0.5rem;

  img, .card-content {
    min-height: 300px;
    max-width: 300px;
  }
}

@include media-breakpoint-up(sm) {
  .card {
    img, .card-content {
      min-height: 500px;
      max-width: 500px;
    }
  }
}

@include media-breakpoint-up(md) {
  .card {
    img, .card-content {
      min-height: 700px;
      max-width: 700px;
    }
  }
}

@include media-breakpoint-up(lg) {
  .card {
    img, .card-content {
      min-height: 450px;
      max-width: 450px;
    }
  }
}
