@mixin stagger-anim-delay($i, $initial-delay, $stagger-delay) {
  @while $i > 0 {
    &:nth-of-type(#{$i}) {
      animation-delay: $initial-delay + $stagger-delay * $i;
    }
    $i: $i - 1;
  }
}

.fade-appear,
.fade-enter {
  opacity: 0;
}

.fade-appear-active,
.fade-enter-active {
  transition: opacity 0.5s linear 1s;
  opacity: 1;
}

.fade-exit {
  transition: opacity 0.5s linear 0s;
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
}
